/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/payment-methods
/public/payments
/public/assets/book-previews
/public/assets/documents
/public/assets/ebooks
/public/assets/img/certificates
/public/assets/img/settings
/public/surat
/storage/*.key
/storage/pail
/storage
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.env
/database/database.sqlite
/database/umri_press.db
/database/database.soldqlite
/app.zip
/app.tar
/httpdocs.tar
/httpdocs.zip
/backup
/dokumentasi-surat.txt
/temp_check_preview.php
